AWS_REGION_NAME=xxxxxxxxxxxxxx        
AWS_ACCESS_KEY_ID=xxxxxxxxxxxxxx
AWS_SECRET_ACCESS_KEY=xxxxxxxxxxxxxx
DYNAMODB_ENDPOINT_URL=http://dynamodb-local:8000
S3_ENDPOINT_URL=http://minio:9000
DEV_DB=xxxxxxxx-dev
TEST_DB=xxxxxxxx-test
BUCKET_NAME=xxxxxxxxxxxxx